/* CAREFINDER CSS ... */

.CFpink { color:#ff6699; }
.CFgray { color:#333333; }
.CFblack { color:black; }
.CFwhite { color:white; }
.CForange { color:#ff9900; }

span.CFpink, span.CForange { padding-left: 10px; padding-right:10px; }

.CFpinkBackground { background:#ff6699; }
.CFgrayBackground { background:#333333; }
.CFblackBackground { background:black; }
.CFwhiteBackground { background:white; }
.CForangeBackground { background:#ff9900; }

.outboxTextarea{width:90%; height:300px; }
#CF .progress-bar {
    width: 100%;
    /*background-color: #000000;*/
    border-radius: 4px;
    margin-top: 16px;
  }
  
  #CF .progress {
    height: 20px;
    background-color: #4caf50; /* Green color for the progress bar */
    border-radius: 4px;
    color:black;
    padding-left:10px;
  }
  .progress-text {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #ff9900;
    font-size:75%;
  }


/* NAVBAR */
#CF .topnavigation { padding:10px; width:100%; background:#333333; }
#CF .topnavigation { color:white; font-weight: 700; }
#CF .topnavigation img { width:50px; margin:0px 10px 0px 0px; }

.topNavLeft { float:left; width:30%; }
.topNavRight { float:left; width:70%; padding-top: 10px; }
body#CF .topnavigation a { color:white; }
body#CF .topnavigation a:hover {  color:#ff9900; }
body#CF .topnavigation .dropdown a:hover {  color:whte; }

body#CF .topnavigation .nav-pills .nav-link.active, body#CF .topnavigation .nav-pills .show>.nav-link {
    background-color: #ff6699 !important;
}
body#CF .topnavigation .dropdown-menu a { color:#ff9900; }

.utilityPage { padding:60px; }

/* BODY */
body#CF {  
    background: #000000;
    color: white;
}

body#CF .fixed-top {position:initial; }

body#CF a { color:#ff6699; text-decoration: none; }

body#CF button:not(.clientLProw2left button) { 
    background:#ff6699; 
    color:white;
    text-decoration: none;
    border:none;
    border-radius: 10px;
    filter: drop-shadow(2px 3px 0px #000000);
}

#CF .card-body { 
    padding: 50px;
    border-radius: 50px; }

#CF .clientLProw2right .card-body { 
    padding: 20px 20px 20px 7%;
    border-radius: 10px; }
    
    #CF .clientLProw2right .card { 
        margin-bottom:10px; }
        
body#CF button:hover { 
    background:#000000; 
}

body#CF button.btn-dark { background:black;}
body#CF button.btn-dark:hover { background:#333333;}

body#CF button.btn-secondary { background:#181515;}
body#CF button.btn-secondary:hover { background:#000000;}


#CF .card-body button { 
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
}

#CF .card { 
    background:#333333; 
    color:white; 
    border-radius: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#CF .clientLProw2right .card { 
    background:#333333; 
    color:white; 
    border-radius: 50px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#CF .CPlistings .card { max-width:800px; }
#CF .CPlistings .utilityPage { padding:initial; }


body#CF input, textarea { 
    border-radius: 10px; 
    font-size:120%;
    padding: 5px 10px;
    color:blue;  
    border:none;
    filter: drop-shadow(2px 3px 0px #000000);
    margin-bottom:10px; 
}

/* LANDINGPAGE.JS */
.CFdashboard { text-align:center; } 
body#CF .CFdashboard input { margin-left:10px; } 

.clientLProw1{ width:100%; background:#333333; }

.clientLProw2left { width:40%; float:left; padding:15px; }
.clientLProw2right { width:60%; float:left; padding:15px; }

.clientDashboard button, #CF .claimProfileCard button { margin-right:10px; }

.clientSearchBar { text-align:center; padding:20px; }
body#CF input#clientSearch { font-size: 100%;
    position: relative;
    top: 2px;
    margin-right: 30px;    width: 40%; }

button#findMatches { margin-right:30px; }

body#CF button#takeSurvey { background:orange; }

#CF .claimProfileCard{ text-align:center; }

/* CARE PROVIDER */
.CProw1 h1 { font-size: 400%; font-weight: 700; }
.CProw1 p, .CProw2 p, .CProw3 p, .CProw4 p, .CProw5 p { font-size: 175%; line-height: 125%; }
.CProw1 .left60 { padding:30px; }

.CProw2 .left40 { padding-top:10%; text-align:center; }
.CProw2 .right60 { padding:60px; text-align:center; }

.CProw3 .contentContainer { font-size:250%; font-weight:700; text-align:center;     padding-top: 2%; padding-bottom: 10%; }

.CPchoiceBox { width:30%; float:left; border-radius:20px; padding:20px; margin-right: 3%;
    text-align: center;    display: inline-block;  vertical-align: top; margin-bottom:40px; position:relative; top: -80px;     min-height: 650px; }
    
.CProw5 { margin-bottom:80px; }
.mostPopular { float:right; margin-bottom:20px; }
p.CPchoiceLevel{font-weight:700;font-size: 200%;}
p.CPchoicePrice{font-weight:700;font-size: 260%;}
p.CPchoiceSubhead{font-weight:700;font-size: 225%;}
p.CPchoiceTerms{ font-size:70%; font-weight:normal; }
.allGrayText p {color:#8a8888;}
p.CPboxText { text-align:left;}


.providerDashboardCard { margin-bottom:40px; }    
#CF .clientMenu .row {
    --bs-gutter-y: 2.5rem;
}

#CF .seniorSurvey input, #CF .seniorSurvey select, #CF input#seniorAge { width:100%; margin-top:3px; }
#CF .seniorSurvey h3 { margin-top:20px; }
#CF .seniorSurvey select, #CF .seniorSurvey select#seniorSex { border-radius:10px !important; filter: drop-shadow(2px 3px 0px #000000); }


#CF .personalInfo p.card-text label { font-weight: bold; margin-right:10px; }
#CF .personalInfo p.card-text span { margin-right:10px; }
#CF .personalInfo .card-title {font-weight: bold;}
.CProw5 h2 { text-align:center; margin-bottom:20px; }
body#CF .CProw5 button { background: black;
    font-weight: normal;
    font-size: 100%;margin-bottom: 3px;}
.CProw5 .accordion-item {    background: black;
    border: initial;
    color: white;}
body#CF .CProw5 button { border:initial; border-top: 2px white solid;
    border-radius: initial; }
body#CF .CProw5 .accordion-button:not(.collapsed) {
    background-color: initial; 
    box-shadow: initial;
}
body#CF .CProw5 h2.accordion-header { margin-bottom:0; }


/* GLOBAL */ 
.left60, .left40, .right60, .right40 {float:left;}
.left60, .right60  { width:60%; }
.left40, .right40 { width:40%; }

.contentContainer{ max-width:1200px; margin-left:auto; margin-right:auto; }

.contentContainer img { max-width:100%; border-radius: 50px 50px 0 0; }

div.clear {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.nomarginbottom { margin-bottom:0 !important; }
.nopaddingbottom { padding-bottom:0 !important; }

/* MESASAGING*/
.msgTopControls{ text-align: right; margin-bottom: 10px; color: #ff6699; font-size: 80%; }

.messageWrapper { 
    width:100%;
    /*background: #333333;*/
    padding: 10px 20px;
    margin-bottom:30px;
    border-radius:30px; 
    border:1px solid white;
}
.messageWrapper p.msgFrom {
float:left; margin-bottom:0; display:contents;
}
.messageWrapper p.msgDate {
float:right
}
.messageWrapper p.msgActions {
    margin-bottom: 0;
    text-align:center;
}

.msgAvatar { 
    width: 90%; /* Set a percentage width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    max-width: 100px; /* Set a maximum width to prevent excessive stretching */
    max-height: 100px; /* Set a maximum height to prevent excessive stretching */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensure the image covers the entire container */
}

.msgAlertLeft { width:13%; float:left; }
.msgAlertMiddle { width:80%; float:left; }
.msgAlertRight { width:7%; float:left; }

.msgDesktopRight .msgAlertLeft { width:13%; float:left; }
.msgDesktopRight .msgAlertMiddle { width:87%; float:left; }
.msgDesktopRight .msgAlertRight { width:0%; float:left; }


.msgResponseInfo { font-size:60%; margin:0;  padding-right: 5px; margin-bottom: 2px;}
.messageWrapper.messageArchived .msgResponseInfo { font-size: 90%;    padding-right: 0;}
.messageWrapper.messageArchived .msgActions { background:initial; }

.msgReplyArea { background:black; padding:15px; margin-bottom:10px; border-radius:10px; }
.msgReplyArea button { margin-bottom:15px;  }
.msgReplyArea textarea{ height:200px;width:100%; margin-right:1%; font-size:16px; padding:10px; line-height:20px; border-radius:10px; }

.messageWrapper.messageRead {
    color: #636363;
    background: #171718;
    font-size: 80%;
}
#CF .messageWrapper.messageRead p.msgText,#CF .messageWrapper.messageArchived p.msgText {
    text-decoration: line-through;
}
.messageWrapper.messageArchived {
    color: #343434;
    background: #0a0a0a;
    font-size: 60%;
}

.messageArchived p.msgFrom, .messageArchived p.msgDate , .messageArchived p.msgBrief, .messageArchived p.msgText.msgFull { margin:0; }
.messageArchived .CForange {color:#6a4002;}
.messageArchived p.msgActions { text-align:right;}
.messageWrapper.messageArchived {margin-bottom:10px;}
.msgActions{    background: #ffffff1c;    border-radius: 9px;    font-size: 90%;}

.msgDesktopLeft { width:35%; float:left; border-right:1px solid white; padding:40px;  }
.msgDesktopRight { width:65%; float:left; padding:40px;  }

.msgThreadContainer {
    max-height: 300px; 
    overflow-y: scroll; 
    scroll-behavior: smooth; 
  
}
.msgThreadBox { width:60%; border-radius:16px; padding:10px; margin-bottom:10px; color: white !important;} 
.msgThreadDate { margin-top:15px; font-size:60%; }
.msgThreadDateRight { text-align: right; padding-right:10px;  }
.msgThreadDateLeft { padding-left:10px;  }
.msgThreadSender{ text-align:left; background:blue;  }
.msgThreadRecipient{ text-align:right; background:green; float:right; }
#CF .card-text input { margin-right:10px; }
#CF .myAFHname button, #CF .myAFHname input { margin-left:10px; }
body#CF .msgReplyArea input.btn.btn-primary { font-size: 100%;  margin-right: 10px; color:white; }
body#CF .msgReplyArea button.btn.btn-info {    font-size: 90%;
    padding: 7px 15px 5px 15px;
    margin-bottom: 11px;
    border-radius: 8px;background: gray;}
    body#CF .msgReplyArea button.btn.btn-info:hover {  background: red;}
#CF .cancelButton{background: gray;}
/* YOUTUBE */
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

 /* LISTINGS*/
 #CF .CFListingCard { width:350px; aspect-ratio: 1 /1; margin-right: 20px!important; margin-left: 0px!important; text-align:center; margin-bottom:20px !important;}
 #CF .CFListingCardHeader {display:flex; margin-bottom:15px; justify-content: space-between; align-items:center}
 #CF .CFListingStatus {display:flex; align-items:center; padding:5px 10px;border-radius: 20px; background:#212429; height:fit-content;}
 #CF .CFListingImgContainer {display:flex; height:50%; margin-bottom:10px}
 #CF .CFPlaceholderImg {display:flex; aspect-ratio: 1 /1; margin: auto; width: 40%; border-radius: 20px; background:#212429;}
 #CF .CFPlaceholderImg img {margin:auto;}


#CF .singleRoomCard { background:#131313; float:left; width: 40%; margin: 20px 5%; border-radius:10px; padding:20px; }
#CF .CFListingCardHeader2 { width:100%;  }
#CF .CFListingStatus2 { float:left; width:80%; }
#CF .CFlistingButton2 { float:left; width:20%; }
#CF .singleRoomCard h5 { text-align:center; font-weight: bold; font-size: 150%; }
#CF .CFListingImgContainer2 { text-align:center; }
#CF .CFPlaceholderImg2 { }

  /* FOOTER*/
.CFfooter .contentContainer {text-align:center;}
.footerColumn{ float:left; width:30%; margin-left:1%; margin-right:1%; font-size:125%; }
.footerHead { font-weight:700; font-size:150%; margin-bottom:20px; }
body#CF .CFfooter a { color:white; }
body#CF .CFfooter .contentContainer { padding:60px 20px 10px 20px; }
body#CF .CFfooter .footerLink  {margin-bottom:20px; }
p.copyright { margin-top:40px; font-size:70%;}
#CF .footerLink a:hover { color:#ff9900;}

.surveyUL li { list-style-type: none; }
.surveyUL input { margin-right:10px; }

.msgHeader{ text-align:center; font-size:50px; font-weight:bold; border-radius:30px; padding-bottom:10px;margin-bottom: 30px;}

/**
   RESPONSIVE MEDIA QUERIES:
   --allows us to tailor above rules for specific-width-range screens   
*/

/* Large Display */
@media (min-width: 1200px) { 


 }


/* Desktop */
@media (min-width: 960px) and (max-width: 1199px) { 


}


/* Tablets */
@media (min-width: 768px) and (max-width: 959px) { 


}


/* Smartphones to Tablets */
@media (min-width: 481px) and (max-width: 767px) { 


 }


  /* Smartphones */
@media (max-width: 480px) {


}

.messagesDesktopUX{display:block;}
.messagesMobileUX{ display:none;}

@media (max-width: 768px) {

    .messagesDesktopUX{display:none;}
    .messagesMobileUX{ display:block;}
    .messagesMobileUX { padding:15px; }

    #CF .singleRoomCard { width: 90%; }
}


