@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* CAREFINDER CSS ... */

.gm-style-iw button {
  @apply hidden;
}

/* Arbitrary Targeting */
[class*='gm-style-iw'] button {
  display: none !important;
}

.CFpink {
  color: #ff6699;
}
.CFgray {
  color: #1e1f26;
}
.CFblack {
  color: black;
}
.CFwhite {
  color: white;
}
.CForange {
  color: #ff9900;
}
.CFred {
  color: red;
}
.CFgreen {
  color: #0bdf0b;
}

span.CFpink,
span.CForange {
  padding-left: 10px;
  padding-right: 10px;
}

.CFpinkBackground {
  background: #ff6699;
}
.CFgrayBackground {
  background: #1e1f26;
}
.CFblackBackground {
  background: black;
}
.CFwhiteBackground {
  background: white;
}
.CForangeBackground {
  background: #ff9900;
}

#CF .center-button {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.center-button:hover {
  background-color: #000000;
  color: white;
}

.outboxTextarea {
  width: 90%;
  height: 300px;
}
#CF .progress-bar {
  width: 100%;
  /*background-color: #000000;*/
  border-radius: 4px;
  margin-top: 16px;
}

#CF .progress {
  height: 20px;
  background-color: #4caf50; /* Green color for the progress bar */
  border-radius: 4px;
  color: black;
  padding-left: 10px;
}
.progress-text {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #ff9900;
  font-size: 75%;
}

#CF .homeRow3 .checkBoxList {
  margin-bottom: 20px;
}
#CF .homeRow3 .checkBoxList svg {
  color: #ff6699;
  font-size: 3em;
  margin-right: 1.5rem;
  float: left;
  display: table-cell;
}

#CF .bg-pink-500 {background:#ff6699;}

#CF .homeRow3 .checkBoxList p {
  margin: 0;
  font-size: 110%;
  display: table-cell;
}

#CF .clientSurvey button { background:#1e1e1e; }
#CF .clientSurvey button:hover { background:#ff6699; }
#CF .clientSurvey button.selected { background: #ff6699; }

#CF p.surveyIntro { width:50%; margin-left: auto; margin-right:auto;}
/* NAVBAR */
#CF .topnavigation {
  padding: 10px;
  width: 100%;
  background: #1e1f26;
}
#CF .topnavigation {
  color: white;
  font-weight: 700;
}
#CF .topnavigation img {
  width: 50px;
  margin: 0px 10px 0px 0px;
}

.topNavLeft {
  float: left;
  width: 30%;
}
.topNavRight {
  float: left;
  width: 70%;
  padding-top: 10px;
}
body#CF .topnavigation a {
  color: white;
}
body#CF .topnavigation a:hover {
  color: #ff9900;
}
body#CF .topnavigation .dropdown a:hover {
  color: whte;
}

body#CF .topnavigation .nav-pills .nav-link.active,
body#CF .topnavigation .nav-pills .show > .nav-link {
  background-color: #ff6699 !important;
}
body#CF .topnavigation .dropdown-menu a {
  color: #ff9900;
}

.utilityPage {
  padding: 60px;
}

/* BODY */
body#CF {
  background: #000000;
  color: white;
}

body#CF .fixed-top {
  position: initial;
}

body#CF a {
  color: #ff6699;
  text-decoration: none;
}
body#CF .msgThreadBox a {
  color: black;
  text-decoration: underline;
}
body#CF button {
  background: #ff6699;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
}
body#CF .accordion button {
  background: #1e1f26;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
}

.providerButton {
  text-align: right;
  margin-bottom: 20px;
}
body#CF .providerButton button {
  background: initial;
  border: 1px solid white;
  padding: 5px 10px 5px 10px;
}

.ppcButton a {
  background: #ff6699;
  color: white !important;
  padding: 0px 10px 2px 10px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.welcomeProviderPage {
  padding: 40px;
}

.welcomeProviderPageBox {
  background: black;
  padding: 60px;
}
p.amenities {
  margin-top: 20px;
}
.amenity {
  background: black;
  color: white;
  padding: 0px 5px 2px 5px;
  margin-right: 10px;
}

.personalInfo button { padding:0px 10px 0px 10px; margin:5px 0px 15px 10px !important; }
.personalInfo .dbValue { color:#ff9900; font-weight:bold; }
#CF .card-body {
  padding: 50px;
  border-radius: 0px;
}
#CF .providerCard .card-body {
  padding: 10px;
}
#CF .Pcard .card-body {
  padding: 0px;
}


.pCardImageContainer {
  align-items: center;
  height: 175px;
  overflow: hidden;
}
.pCardPics {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-bottom: 3px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  display: block;
  cursor: pointer;
  object-fit: cover;
}

body#CF .CPlistings button {
  padding: 4px 9px 4px 9px;
}

body#CF button:hover {
  background: #000000;
}

body#CF button.btn-dark {
  background: black;
}
body#CF button.btn-dark:hover {
  background: #1e1f26;
}

body#CF button.btn-secondary {
  background: #181515;
}
body#CF button.btn-secondary:hover {
  background: #000000;
}

#CF .card-body button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#CF .card {
  background: #1e1f26;
  color: white;
  border-radius: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#CF .pcards_right .card {
  background: #1e1f26;
  color: white;
  border-radius: 0px;
  max-width: initial;
  margin-left: auto;
  margin-right: auto;
}
#CF .pcards_right .card button {
  background: #1e1f26;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 90%;
  padding: 3px 10px 5px 10px;
  margin-top: 20px;
  float: right;
}
.cardPicLeft {
  width: 50%;
  height: fit-content;
}
#CF .clientLProw2right .card {
  background: #1e1f26;
  color: white;
  border-radius: 10px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#CF .CPlistings .card {
  max-width: 800px;
}
#CF .CPlistings .utilityPage {
  padding: initial;
}

body#CF input,
textarea {
  border-radius: 10px;
  font-size: 120%;
  padding: 5px 10px;
  color: black;
  border: none;
  filter: drop-shadow(2px 3px 0px #000000);
  margin-bottom: 10px;
}

body#CF .switchBtnGrp {
  display: flex;
  justify-content: space-between;
}

body#CF .homeLookup input {
  border-radius: 30px;
  margin-right: 10px;
  width: 50%;
  font-size: 90%;
  padding: 10px 0px 10px 35px;
}

body#CF .homeLookup button {
  border-radius: 30px;
  padding: 8px 20px 8px 20px;
  position: relative;
  top: -4px;
}

/* LANDINGPAGE.JS */
.CFdashboard {
  text-align: center;
}
body#CF .CFdashboard input {
  margin-left: 10px;
}

.clientLProw1 {
  width: 100%;
  background: #1e1f26;
}

.clientLProw2left {
  width: 40%;
  float: left;
  padding: 15px;
}
.clientLProw2right {
  width: 60%;
  float: left;
  padding: 15px;
}
.pcards_right {
  width: 60%;
  float: left;
}

.clientDashboard button,
#CF .claimProfileCard button {
  margin-right: 10px;
}

.clientSearchBar {
  text-align: center;
  padding: 20px;
}
body#CF input#clientSearch {
  font-size: 100%;
  position: relative;
  top: 2px;
  margin-right: 30px;
  width: 40%;
}

button#findMatches {
  margin-right: 30px;
}

body#CF button#takeSurvey {
  background: orange;
}

#CF .claimProfileCard {
  text-align: center;
}
.farLeft {
  margin-left: 0 !important;
}
.farRight {
  margin-right: 0 !important;
}

/* CARE PROVIDER */
.CProw1 h1,
.homeRow1 h2 {
  font-size: 300%;
  font-weight: 700;
}
.CProw1 p,
.CProw2 p,
.CProw3 p,
.CProw4 p,
.CProw5 p,
.homeRow2 p {
  font-size: 175%;
  line-height: 125%;
}
.CProw1 .left60 {
  padding: 30px;
}

.homeRow2 p {
  text-align: center;
  padding-left: 50px;
}

.CProw2 .left40 {
  padding-top: 10%;
  text-align: center;
}
.CProw2 .right60 {
  padding: 60px;
  text-align: center;
}

.CProw3 .contentContainer {
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 10%;
}

#CF .modal-content {
  background: black;
  border: 10px solid #1e1f26;
  border-radius: 10px !important;
}
#CF .modal-header {
  padding-top: 0;
  padding-bottom: 0;
  border: initial;
}
#CF .modal-title {
  color: white;
}
#CF .provider-card {
  border-radius: 10px;
  margin: 0;
  padding: 0;
  background: red;
}

#CF .modal-backdrop.show {
  background: black !important;
  opacity: initial !important;
}
#CF button.providerModalBackButton {
  background: initial;
}
#CF .modal-body {
  padding-top: 0;
}
#CF .providerModalCardHomePics {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.CF2-hamburger-popover {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  width: 20%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1); /* Dark background */
  color: white; /* Adjust text color for contrast */
  transform: translateX(100%); /* Start offscreen to the right */
  transition: transform 0.3s ease; /* Smooth transition */
  display: flex; /* Ensure it's a flex container */
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears on top */
  border-left: 4px solid #1e1e1e;
}

.CF2-hamburger-popover ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.CF2-hamburger-popover.show {
  transform: translateX(0); /* Slide into view */
}

.CF2-hamburger-popover li {
  margin: 15px 0;
}

.CF2-hamburger-popover button {
  margin-top: 20px;
}

.CF2-menu-item .CF2-hamburger-popover a {
  font-size: 20px;
  padding: 0;
  font-weight: initial;
}

.CF2-hamburger-popover svg {
  display: initial;
}

.CF2-hamburger-popover .centered-item {
  text-align: center;
  margin: 10px 0; /* Optional: Add some spacing between items */
}

.custom-link-terms {
  color: #ff6699 !important;
}

.custom-link-privacy {
  color: #ff9900 !important;
}

.triplebox {
  width: 30%;
  float: left;
  margin-left: 1.65%;
  margin-right: 1.65%;
  padding: 25px;
  border-radius: 10px;
  min-height: 300px;
}

.rubik500 {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#CF input:focus,
#CF textarea:focus,
#CF select:focus,
#CF button:focus {
  /* Reset or apply your desired focus styles here */
  outline: none;
  box-shadow: none;
  border-color: initial;
}

.CPchoiceBox {
  width: 35%;
  float: left;
  border-radius: 50px;
  padding: 30px;
  margin-right: 3%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
  position: relative;
  top: -80px;
  min-height: 670px;
}
.CPchoiceBox2 {
  width: 59% !important;
}
.CPchoiceBox2 ul {
  text-align: left;
}
.CPchoiceBox button.button2 {
  padding: 20px;
  margin-top: 20px;
}

.CProw5 {
  margin-bottom: 80px;
}
.mostPopular {
  float: right;
  margin-bottom: 20px;
}
p.CPchoiceLevel {
  font-weight: 700;
  font-size: 200%;
}
p.CPchoicePrice {
  font-weight: 700;
  font-size: 260%;
}
p.CPchoiceSubhead {
  font-weight: 700;
  font-size: 225%;
}
p.CPchoiceTerms {
  font-size: 70%;
  font-weight: normal;
}
.allGrayText p {
  color: #8a8888;
}

body#CF button.hamburger {
  background: #1e1e1e;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  position: relative;
  top: 5px;
}

.CF2-hamburger {
  position: relative;
}

.hamburger {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: 0.4s;
}

.CF2-hamburger-menu {
  display: none; /* Initially hidden */
  opacity: 0; /* Hidden opacity */
  transform: translateY(-10px); /* Optional for a nice slide effect */
  transition:
    opacity 1s ease,
    transform 1s ease; /* Transition for opacity and transform */
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #ff9900;
  list-style: none;
  padding: 0px;
  width: 150px;
  z-index: 1000;
}

.CF2-hamburger-menu.show {
  display: block; /* Show the menu */
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Reset transform */
}

.CF2-hamburger-menu li {
  padding: 0;
}

.CF2-hamburger-menu li a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 20px;
}

.CF2-hamburger-menu li a:hover {
  background-color: #555;
}

.providerDashboardCard {
  margin-bottom: 40px;
}
#CF .clientMenu .row {
  --bs-gutter-y: 2.5rem;
}

#CF .clientMenu .card-body {
  padding: 20px;
}

#CF .reserveRoom img {
  border-radius: 10px;
}

#CF .seniorSurvey input,
#CF .seniorSurvey select,
#CF input#seniorAge {
  width: 100%;
  margin-top: 3px;
}
#CF .seniorSurvey h3 {
  margin-top: 20px;
}
#CF .seniorSurvey select,
#CF .seniorSurvey select#seniorSex {
  border-radius: 10px !important;
  filter: drop-shadow(2px 3px 0px #000000);
}

#CF .accordion-body {
  font-size: 135%;
}

#CF .personalInfo p.card-text label {
  font-weight: bold;
  margin-right: 10px;
}
#CF .personalInfo p.card-text span {
  margin-right: 10px;
}
#CF .personalInfo .card-title {
  font-weight: bold;
}
.CProw5 h2,
.homeRow5 h2 {
  text-align: center;
  margin-bottom: 20px;
}
body#CF .CProw5 button,
body#CF .homeRow5 button {
  background: #000000;
  font-weight: normal;
  font-size: 100%;
  margin-bottom: 3px;
}

.CProw5 .accordion-item,
.homeRow5 .accordion-item {
  background: black;
  border: initial;
  color: white;
}

#CF .accordion-item {
  background: #1e1f26;
  border: initial;
  color: white;
}

#CF .myAFHcard input:not([type="checkbox"]) {
  margin-left: 10px;
}

body#CF .CProw5 button,
body#CF .homeRow5 button {
  border: initial;
  border-radius: initial;
  border-radius: 10px;
  margin-bottom: 10px;
}

body#CF .CProw5 .accordion-button:not(.collapsed),
body#CF .homeRow5 .accordion-button:not(.collapsed) {
  background-color: initial;
  box-shadow: initial;
}

body#CF .CProw5 h2.accordion-header,
body#CF .homeRow5 h2.accordion-header {
  margin-bottom: 0;
}

body#CF ul.custom-checkmark-list {
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-size: 150%;
}

.homeRow1 {
  padding-top: 40px;
}
.homeRow1,
.homeRow2,
.homeRow3,
.homeRow4,
.homerow5 {
  margin-bottom: 60px;
}
.homeRow1 p {
  font-size: 175%;
  line-height: 125%;
}
.homeRow1 .left60 {
  padding: 30px;
}
.homeRow2 .video-responsive {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.homeRow3 .contentContainer {
}
.homeRow3 h2 {
  text-align: center;
  margin-bottom: 20px;
}
.homeRow5 .accordion {
  --bs-accordion-color: initial;
  --bs-accordion-bg: initial;
  --bs-accordion-border-color: initial;
}
.homeRow4 .hr4Box {
  width: 30%;
  float: left;
  border-radius: 10px;
  padding: 20px;
  margin-right: 3%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
  min-height: 270px;
}
.homeRow4 .hr4Box p {
  font-size: 12px;
  text-align: left;
}
.homeRow4 .hr4Box button {
  width: 50%;
}
#CF .accordion button[aria-expanded='true'] {
  background: #ff6699 !important;
}

#CF .accordion-button.collapsed::after {
  filter: invert(1);
}

.checkBoxList svg {
  width: 0.7em; /* 80% of the original size */
  height: 0.7em; /* 80% of the original size */
}
.verified svg {
  display: initial;
  position: relative;
  top: -1px;
  margin: 10px 6px 10px 0;
}
.verified {
  color: rgb(164, 145, 232);
}

#CF .btn-group-vertical > .btn {
  --bs-btn-bg: #808080 !important;
  --bs-btn-border-color: #808080 !important;
  --bs-btn-active-bg: #ff6699;
  --bs-btn-active-border-color: #ff6699;
  text-align: left;
  font-size: small;
}
/*
.homeTopBackground { background: url(/client/public/homeback1.jpg);     background-size: cover;   padding: 30px; }
*/

.CPhomeTopBackground {
  background: url(/client/public/pageback1.jpg);
  background-size: cover;
  padding: 30px;
}
#CF .accordion-button:focus {
  border-color: initial !important;
  box-shadow: initial !important;
}

/* GLOBAL */
.left60,
.left40,
.right60,
.right40,
.left50,
.right50 {
  float: left;
}
.left60,
.right60 {
  width: 60%;
}
.left40,
.right40 {
  width: 40%;
}
.left50,
.right50 {
  width: 50%;
}

.contentContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contentContainer img {
  max-width: 100%; /*border-radius: 50px 50px 0 0;*/
}

div.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.nomarginbottom {
  margin-bottom: 0 !important;
}
.nopaddingbottom {
  padding-bottom: 0 !important;
}

/* MESASAGING*/
.msgTopControls {
  text-align: right;
  margin-bottom: 10px;
  color: #ff6699;
  font-size: 80%;
}

.messageWrapper {
  width: 100%;
  /*background: #1e1f26;*/
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid white;
}
.messageWrapper p.msgFrom {
  float: left;
  margin-bottom: 0;
  display: contents;
}
.messageWrapper p.msgDate {
  float: right;
}
.messageWrapper p.msgActions {
  margin-bottom: 0;
  text-align: center;
}

.msgAvatar {
  width: 90%; /* Set a percentage width */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  max-width: 100px; /* Set a maximum width to prevent excessive stretching */
  max-height: 100px; /* Set a maximum height to prevent excessive stretching */
  border-radius: 50%; /* Make it circular */
  object-fit: cover; /* Ensure the image covers the entire container */
}

.msgAlertLeft {
  width: 13%;
  float: left;
}
.msgAlertMiddle {
  width: 80%;
  float: left;
}
.msgAlertRight {
  width: 7%;
  float: left;
}

.msgDesktopRight .msgAlertLeft {
  width: 13%;
  float: left;
}
.msgDesktopRight .msgAlertMiddle {
  width: 87%;
  float: left;
  position: relative;
  top: 20px;
  left: 10px;
}
.msgDesktopRight .msgAlertRight {
  width: 0%;
  float: left;
}

.msgResponseInfo {
  font-size: 60%;
  margin: 0;
  padding-right: 5px;
  margin-bottom: 2px;
}
.messageWrapper.messageArchived .msgResponseInfo {
  font-size: 90%;
  padding-right: 0;
}
.messageWrapper.messageArchived .msgActions {
  background: initial;
}

#CF .messageWrapper .msgAlertMiddle {
  padding-left: 3%;
  width: 87%;
  float: left;
}

.msgReplyArea {
  background: black;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.msgReplyArea button {
  margin-bottom: 15px;
}
.msgReplyArea textarea {
  height: 200px;
  width: 100%;
  margin-right: 1%;
  font-size: 16px;
  padding: 10px;
  line-height: 20px;
  border-radius: 10px;
}

.messageWrapper.messageRead {
  color: #636363;
  background: #171718;
  font-size: 80%;
}
#CF .messageWrapper.messageRead p.msgText,
#CF .messageWrapper.messageArchived p.msgText {
  text-decoration: line-through;
}
.messageWrapper.messageArchived {
  color: #343434;
  background: #0a0a0a;
  font-size: 60%;
}

.messageArchived p.msgFrom,
.messageArchived p.msgDate,
.messageArchived p.msgBrief,
.messageArchived p.msgText.msgFull {
  margin: 0;
}
.messageArchived .CForange {
  color: #6a4002;
}
.messageArchived p.msgActions {
  text-align: right;
}
.messageWrapper.messageArchived {
  margin-bottom: 10px;
}
.msgActions {
  background: #ffffff1c;
  border-radius: 10px;
  font-size: 90%;
}

.msgDesktopLeft {
  width: 35%;
  float: left;
  border-right: 1px solid white;
  padding: 40px;
}
.msgDesktopRight {
  width: 65%;
  float: left;
  padding: 40px;
}

.msgThreadContainer {
  max-height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.msgThreadBox {
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  color: white !important;
}
.msgThreadDate {
  margin-top: 15px;
  font-size: 60%;
}
.msgThreadDateRight {
  text-align: right;
  padding-right: 10px;
}
.msgThreadDateLeft {
  padding-left: 10px;
}
.msgThreadSender {
  text-align: left;
  background: #ff6699;
}
.msgThreadRecipient {
  text-align: right;
  background: #1e1f26;
  float: right;
}
#CF .card-text input {
  margin-right: 10px;
}
#CF .myAFHname button,
#CF .myAFHname input {
  margin-left: 10px;
}
body#CF .msgReplyArea input.btn.btn-primary {
  font-size: 100%;
  margin-right: 10px;
  color: white;
}
body#CF .msgReplyArea button.btn.btn-info {
  font-size: 90%;
  padding: 7px 15px 5px 15px;
  margin-bottom: 11px;
  border-radius: 10px;
  background: gray;
}
body#CF .msgReplyArea button.btn.btn-info:hover {
  background: red;
}
#CF .cancelButton {
  background: gray;
}
/* YOUTUBE */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  /*border: 2px solid #ff6699;*/
}

#CFNAV {
  background: #1e1e1e !important;
}

nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: #1e1e1e !important;
}
nav a {
  color: white !important;
}
#CF .navbar-text {
  color: white;
  font-size: 200%;
  font-weight: bold;
  margin-right: 10% !important;
}
#CFNAV a.nav-link {
  color: white;
  font-size: 150%;
  font-weight: bold;
  line-height: 25px;
  padding-right: 50px;
}

#nav1 .ml-auto {
  margin-left: auto;
  display: flex;
  align-items: center;
}

nav .dropdown-menu a {
  color: black !important;
}
.nonhamburger {
}

.dropdown {
  /*margin-left: 5%;*/
}

.dropdown-menu {
  /* Reset default right positioning */
  right: unset !important;
  left: 20%; /* Position the menu to the left of the button */
}

.dropdown-menu.show {
  /* Flip the dropdown on open */
  transform: translateX(-20%);
}

input#clientSearch::placeholder {
  color: black;
}

/* LISTINGS*/
#CF .CFListingCard {
  width: 350px;
  aspect-ratio: 1 /1;
  margin-right: 20px !important;
  margin-left: 0px !important;
  text-align: center;
  margin-bottom: 20px !important;
}
#CF .CFListingCardHeader {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}
#CF .CFListingStatus {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  background: #212429;
  height: fit-content;
}
#CF .CFListingImgContainer {
  display: flex;
  height: 50%;
  margin-bottom: 10px;
}
#CF .CFPlaceholderImg {
  display: flex;
  aspect-ratio: 1 /1;
  margin: auto;
  width: 40%;
  border-radius: 10px;
  background: #212429;
}
#CF .CFPlaceholderImg img {
  margin: auto;
}

#CF .singleRoomCard {
  background: #131313;
  width: 40%;
  margin: 20px 5%;
  border-radius: 10px;
  padding: 20px;
}
#CF .CFListingCardHeader2 {
  width: 100%;
}
#CF .CFListingStatus2 {
  float: left;
  width: 80%;
}
#CF .CFlistingButton2 {
  float: left;
  width: 20%;
}
#CF .singleRoomCard h5 {
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}
#CF .CFListingImgContainer2 {
  text-align: center;
}
#CF .CFPlaceholderImg2 {
}

/* FOOTER*/
.CFfooter .contentContainer {
  text-align: center;
}
.footerColumn {
  float: left;
  width: 30%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 125%;
}
.footerHead {
  font-weight: 700;
  font-size: 150%;
  margin-bottom: 20px;
}
body#CF .CFfooter a {
  color: white;
}
body#CF .CFfooter .contentContainer {
  padding: 60px 20px 10px 20px;
}
body#CF .CFfooter .footerLink {
  margin-bottom: 20px;
}
p.copyright {
  margin-top: 40px;
  font-size: 70%;
}
#CF .footerLink a:hover {
  color: #ff9900;
}

.surveyUL li {
  list-style-type: none;
}
.surveyUL input {
  margin-right: 10px;
}

.msgHeader {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  border-radius: 10px;
  padding-bottom: 7px;
  margin-bottom: 25px;
  margin-top: 13px;
}

#CF .loginPage svg {
  display: initial !important;
}
.loginPasswordControl {
  font-size: 80%;
  text-align: right;
}

.messagesDesktopUX {
  display: block;
}
.messagesMobileUX {
  display: none;
}

/**
   RESPONSIVE MEDIA QUERIES:
   --allows us to tailor above rules for specific-width-range screens
*/

/* Large Display */
@media (min-width: 1200px) {
}

/* Desktop */
@media (min-width: 960px) and (max-width: 1199px) {
}

/* Tablets */
@media (min-width: 768px) and (max-width: 959px) {
}

/* Smartphones to Tablets */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Smartphones */
@media (max-width: 480px) {
}

/* FOR NOW, ALL BELOW 768 will be singularly responsive... */

/* PLUS SPECIAL REFINEMENTS */
@media (max-width: 1100px) {
  .left50 {
    width: 75%;
  }
  .right50 {
    width: 25%;
  }
}

@media (max-width: 768px) {


  .CF2-logo-container img {display:none;}

  .messagesDesktopUX {
    display: none;
  }
  .messagesMobileUX {
    display: block;
  }
  .messagesMobileUX {
    padding: 15px;
  }
  #CF .singleRoomCard {
    width: 90%;
  }
  .left60,
  .left40,
  .right60,
  .right40,
  .left50,
  .right50 {
    float: initial;
    width: 100%;
    min-height: initial;
  }
  .homeRow4 .hr4Box {
    width: 100%;
    float: initial;
    min-height: initial;
  }
  .providersRow {
    display: block !important;
    width: 100%;
    min-height: initial;
  }
  .clientLProw2right {
    width: 100% !important;
    float: initial;
    margin-bottom: 30px;
    min-height: initial;
  }
  .CPchoiceBox,
  .CPchoiceBox2 {
    width: 100% !important;
    float: initial;
    min-height: initial;
    top: initial;
  }
  .CProw1 p,
  .CProw2 p,
  .CProw3 p,
  .CProw4 p,
  .CProw5 p,
  .homeRow2 p {
    font-size: 125%;
    line-height: 117%;
    padding: initial;
  }
  .CProw3 .contentContainer {
    padding: initial;
    padding: 40px;
    margin-bottom: 30px;
  }
  .video-responsive iframe {
    left: initial;
    height: 330px;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  #CFNAV img,
  #CFNAV .navbar > #CFNAV .container {
    display: inline !important;
  }

  .CF2-hamburger-popover {
    width: 100%;
  }
}

/* TESTING NEW MENU... */

.CF2-navwrapper {
  background-color: #1e1e1e;
  position: relative; /* Ensure the navbar has a position */
  z-index: 998; /* Set a high z-index for the navbar */
}

.CF2-navbar {
  background-color: #333;
  padding: 10px 20px;
  overflow: visible; /* Changed to allow dropdowns to overflow */
  position: relative; /* Ensure the navbar has a position */
  z-index: 999; /* Set a high z-index for the navbar */
}

.CF2-logo-container {
  display: inline-block;
  vertical-align: middle;
}

.CF2-logo {
  width: 100px;
  vertical-align: middle;
  display: inline;
}

.CF2-site-name {
  color: #fff;
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.CF2-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 28px;
  float: right;
}

.CF2-menu-item {
  display: inline-block;
  position: relative; /* Ensure the menu item has a position */
  z-index: 1000; /* Ensure the menu item has a high z-index */
}

.CF2-menu-item a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-weight: bold;
}

.CF2-menu-item a:hover,
.CF2-menu-item a:focus {
  background-color: #555;
}

.CF2-dropdown-toggle::after {
  content: ' ▾';
  font-size: 20px;
}

.CF2-dropdown-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ff9900;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1001; /* Ensure the dropdown has a high z-index */
  transition:
    opacity 0.5s ease-in-out,
    visibility 0.5s ease-in-out; /* Smooth transition for opacity and visibility */
}

.CF2-dropdown-menu li {
  width: 100%;
}

.CF2-dropdown-menu li a {
  padding: 10px 20px;
  font-size: 20px;
}

.CF2-dropdown-menu li a:hover,
.CF2-dropdown-menu li a:focus {
  background-color: #555;
}

.CF2-menu-item:hover .CF2-dropdown-menu,
.CF2-menu-item:focus .CF2-dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.CF2-dropdown-menu.open {
  opacity: 1;
  visibility: visible;
}

/* Responsive styling for screens 768px and below */
@media screen and (max-width: 768px) {
  .CF2-navbar {
    text-align: center;
  }

  .CF2-menu {
    float: none;
    display: block;
  }

  .CF2-menu-item {
    display: block;
    text-align: left;
  }

  .CF2-menu-item a {
    font-size: 20pt;
  }

  .CF2-dropdown-menu {
    position: static; /* Change position to static */
    z-index: 1001;
    display: none;
  }

  .CF2-dropdown-menu.open {
  }

  .CF2-dropdown-menu li a {
    font-size: 18pt;
  }

  .CF2-menu-item:hover .CF2-dropdown-menu,
  .CF2-menu-item:focus .CF2-dropdown-menu {
    position: static;
    transition: visibility 0.5s ease-in-out;
    display: block;
  }
}

/* hot fixes */
@media (min-width: 768px) and (max-width: 1062px) {
  .CF2-navbar {
    height: 250px;
  }
}
